# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# IDEs
.vscode/
.idea/

# Logs and local data
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db
